<div class="mat-dialog-content">
    <section class="vh-100  d-flex  justify-content-center align-items-center" style="background-color: white">
        <div class="container py-5 h-100">
            <div class="row d-flex  justify-content-center align-items-center h-100">
            <div class="col col-xl-8">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="https://images.pexels.com/photos/2280545/pexels-photo-2280545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"      
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                         <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
    
                                    <form [formGroup]="editStaffForm">
    
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                          
                                            <span class="h1 fw-bold mb-0">Staff Management</span>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="text" id="form2Example17" class="form-control form-control-lg" formControlName="staffName"/>
                                            <label class="form-label" for="form2Example17">Staff Name</label>
                                        </div>
    
                                        <div class="form-outline mb-4">
                                            <input type="txet" id="form2Example27"
                                                class="form-control form-control-lg" formControlName="salary"/>
                                            <label class="form-label" for="form2Example27">Salary</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="txet" id="form2Example27"
                                                class="form-control form-control-lg" formControlName="rating"/>
                                            <label class="form-label" for="form2Example27">Rating</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <!-- <input type="txet" id="form2Example27"
                                                class="form-control form-control-lg" formControlName="shift"/> -->
                                            
                                            <select name="cars" id="shift" type="txet" id="form2Example27"
                                            class="form-control form-control-lg" formControlName="shift">
                                                <option value="Morning">Morning</option>
                                                <option value="Afternoon">Afternoon</option>
                                              </select>
                                              <label class="form-label" for="form2Example27">Shift</label>
                                        </div>
                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-secondary" type="button" (click)="editStaff()">Save</button>
                                            <button type="button" class="btn btn-danger btn-lg btn-danger" (click)="closeDialog()">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


