<div class="container">
    <h1 class="text-center">Desserts</h1>
    <div class="row">
      <div class="card" *ngFor="let item of dessertData">
        <div class="image">
          <img src="{{item.imageUrl}}" class="card-img-top" alt="{{item.itemName}}">
        </div>
        <div class="content"> 
          <h5 class="card-title">{{item.itemName}}</h5>
          <p class="card-text">{{item.category}}</p>
          <p class="card-price">{{item.itemPrice | currency}}</p>
          <button class="btn" *ngIf="authService.currentUser==null" (click)="openLoginWarning()">Add+</button>
          <button class="btn" *ngIf="authService.currentUser!=null" (click)=" openInstructionsDialog(item)">Add + </button>
        </div>
      </div>
    </div>
</div>

