<div class="body">
    <div class="hero jumbotron jumbotron-fluid" id="hero">
        <div class="hero-inner container ">
          <h1 class="text-white">Discover Our Delicious Food</h1>
          <p class="text-white">Welcome to our restaurant</p>
          <div class="d-flex justify-content-around">
            <a routerLink="/menu" class="btn">Order Now</a>
          <a routerLink="/bookTable" class="btn">Book table</a>
          </div>
        </div>
    </div>
    <div class="categoryGroup">
        <div class="categories">
            <img src="./assets/breakfast.webp" alt="" routerLink="/breakfast">
            <p>Breakfast</p>
        </div>
        <div class="categories">
            <img src="./assets/starters.webp" alt="" routerLink="/starter">
            <p>Starters</p>
        </div>
        <div class="categories">
            <img src="./assets/Maincourse.webp" alt="" routerLink="/maincourse">
            <p>Maincourse</p>
        </div>
        <div class="categories">
            <img src="./assets/Desserts.webp" alt="" routerLink="/dessert">
            <p>Desserts</p>
        </div>
    </div>
    
</div>